
    <h1 id="title">MENU</h1>
    
    <div class="row menu" >
      <div class="col-md-6 category">
        <h2 class="title type-2">Appetizers</h2>
        <ul class="lists" *ngFor="let menu of menus">
          <li *ngIf="menu.category === 'appetizer'">
            <div class="col-md-10 item">{{ menu.item }}</div>
            <div class="col-md-2 price"><span class="dollar"> $</span> {{ menu.price }}</div>
            <div class="col-md-12 description">{{ menu.description }}</div>
          </li>
        </ul>
  
        <h2 class="title">Main Dishes</h2>
        <ul class="lists" *ngFor="let menu of menus">
          <li *ngIf="menu.category === 'main-dish'">
            <div class="col-md-10 item">{{ menu.item }}</div>
            <div class="col-md-2 price"><span class="dollar"> $</span> {{ menu.price }}</div>
            <div class="col-md-12 description">{{ menu.description }}</div>
          </li>
        </ul>
      </div>
      <div class="col-md-6 menu">
        <h2 class="title">Sides</h2>
        <ul class="lists" *ngFor="let menu of menus">
          <li *ngIf="menu.category === 'sides'">
            <div class="col-md-10 item">{{ menu.item }}</div>
            <div class="col-md-2 price"><span class="dollar"> $</span> {{ menu.price }}</div>
            <div class="col-md-12 description">{{ menu.description }}</div>
          </li>
        </ul>
  
        <h2 class="title">Beverages</h2>
        <ul class="lists" *ngFor="let menu of menus">
          <li *ngIf="menu.category === 'beverages'">
            <div class="col-md-10 item">{{ menu.item }}</div>
            <div class="col-md-2 price"><span class="dollar"> $</span> {{ menu.price }}</div>
            <div class="col-md-12 description">{{ menu.description }}</div>
          </li>
        </ul>
  
        <h2 class="title">Desserts</h2>
        <ul class="lists" *ngFor="let menu of menus">
          <li *ngIf="menu.category === 'desserts'">
            <div class="col-md-10 item">{{ menu.item }}</div>
            <div class="col-md-2 price"><span class="dollar"> $</span> {{ menu.price }}</div>
            <div class="col-md-12 description">{{ menu.description }}</div>
          </li>
        </ul>
      </div>
    </div> 